@import url("https://fonts.cdnfonts.com/css/star-wars");

* {
  background-color: #000000;
  /* font-family: "Star Wars", sans-serif; */
  color: #ffe81f;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
}

.content {
  border: 2px solid #ffe81f;
  padding: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}
